.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image:url(../../../assets/imagens/navbar-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: orange;
  text-align: center;
  font-family: "Naruto", Arial, sans-serif;
  padding-top: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}


.footer h6 {
  font-size:20px;
}

.footer p {
  font-size: 20x;
}

@font-face {
  font-family: "Naruto";
  src: url(../../../assets/fontes/njnaruto.ttf) format("truetype");
}

@font-face {
  font-family: "One Piece";
  src: url(../../../assets/fontes/onepiece.ttf) format("truetype");
}
