#navbar-logged{
  background: rgb(0,34,68);
  background: linear-gradient(90deg, rgba(0,34,68,1) 46%, rgba(29,88,73,1) 59%, rgba(45,118,75,1) 71%);

}
.nav-link {
  color: aliceblue;
  font-size: 20px;
}

#navbarNavAltMarkup{

}

#navbar-sair{
  margin-right: 2%;
  justify-content: end;
}

.navbar-nav{
  gap: 50px;
}

