<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<header>
  <nav class="navbar">
  <div class="primeiro__grupo__navbar">
    <a class="nav__link">Meu Perfil</a>
    <a class="nav__link" routerLink="/forum-homepage">Inicio</a>
  </div>
  <div class="segundo__grupo__navbar">
    <a class="nav__link" routerLink="/forum-topic">Forum</a>
    <a class="nav__link">Sobre-nos</a>
    <a class="nav__link">Regras</a>
    <a>
      <div class="nav__icon">
        <i class="bi bi-bell"></i>
      </div>
    </a>
  </div>
  </nav>
</header>
