.header{
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}


.container{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

}

.card{
  height: 300px;
}

.card:hover{
  border-color: #002244;
  border-width: 4px;
}
.card-img-top{
  height: 150px;
}
.card-body{
  align-items: center;
  text-align: center;
}

.titulo-assunto{
  font-family: 'Freckle Face', cursive;
  font-size: 35px;
}
