h1 {
  margin-top: 50px;
  text-align: center;
  font-family: "One Piece", Arial, sans-serif;
  font-size: 80px;
  color: #e76e37
}


@font-face {
  font-family: "One Piece";
  src: url(../../../../assets/fontes/onepiece.ttf) format("truetype");
}

.forum-topic-page {
  margin-top: 80px;
}

.tabela {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 200px;
  border-radius: 10px;
}

.table {}

#editar {
  background-color: #e76e37;
  border-color: #e76e37;
}

#excluir {
  background-color: #d01f2f;
  border-color: #d01f2f;
}

#acessar {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.col:hover {
  background-color: darkgrey;
}

.col-author {
  width: 30%;
}

.col-author:hover {
  width: 30%;
  background-color: darkgrey;
}

.col-topic {
  border-style: solid 5px 5px 5px 5px;
}

.col-topic:hover {
  background-color: darkgrey;
}

.col-comment {}

.col-comment:hover {
  background-color: darkgrey;
}

.line-table {}

.line-table:hover {
  background-color: darkgrey;
}

#button-addon1 {
  width: 200px;
}

#button-addon1:hover {
  color: #FFFFFF;
  background-color: orange;
  border-color: orange;
  width: 200px;
}

#button-addon1:active {
  color: #FFFFFF;
  background-color: #335daa;
  border-color: #335daa;
  width: 200px;
}

#create-button {
  margin-bottom: 30px;
  background-color: #4792e3;
  color: #FFFFFF;
  border-color: #4792e3;
  height: 50px;

  width: 200px;
}

#create-button:hover {
  background-color: #e76e37;
  color: #FFFFFF;
  border-color: #e76e37;
  height: 60px;
  width: 210px;
}

#create-button:active {

  background-color: #335daa;
  color: #FFFFFF;
  border-color: #335daa;
  height: 60px;
  width: 210px;
}

.button-col {
  width: 50px;
}
